Repository encode/httpx, pull requests merged in 2024-01, with the labels that each got.

#3042 Keep clients in sync
  httpx/_client.py
Labels: refactor

#3049 Docs restructuring.
  docs/advanced.md
  docs/advanced/authentication.md
  docs/advanced/clients.md
  docs/advanced/event-hooks.md
  docs/advanced/proxies.md
  docs/advanced/resource-limits.md
  docs/advanced/ssl.md
  docs/advanced/text-encodings.md
  docs/advanced/timeouts.md
  docs/advanced/transports.md
  mkdocs.yml
Labels: 1.0 proposal

#3056 Add an indent to fix wrong rendering in warning block
  docs/async.md
Labels: docs

#3057 Drop outdated section
  docs/advanced/transports.md
Labels: docs
